:root{
    --dark-green:#2d4a22;
    --medium-green:#358f14;
    --light-green: #49aa26;
    --red:#ed0e3d;
    --gray:#b8babf;
    --white:#fff;
    --purple:#363f5f;
    --light-purple:#969cb3;
}